<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope-o fa-lg main-list-item-icon"></span>
    <a href="/contact">Contact Me</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/nishad">Open Codes</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin-square fa-lg main-list-item-icon"></span>
    <a href="https://in.linkedin.com/in/rimpoche">Link Me In</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-facebook-official fa-lg main-list-item-icon"></span>
    <a href="https://fb.com/pepperstory">Facebook Social</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter-square fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/rimpoche">Tweets</a>
  </li>
</ul>
